package modules

import (
	"github.com/jkeddari/walletscan/ui/components/input"
	"github.com/jkeddari/walletscan/ui/components/button"
	"github.com/jkeddari/walletscan/ui/components/spinner"
	"github.com/jkeddari/walletscan/ui/components/form"
)

templ ScanForm(address string, showError bool) {
	<form
		hx-post="/scan-address"
		hx-trigger="submit"
		hx-swap="outerHTML"
		hx-target="this"
		hx-indicator="#spinner"
		hx-disabled-elt="find button"
		class="mt-8 "
	>
		@form.Item(form.ItemProps{
			Class: "flex-1 flex gap-3",
		}) {
			<div class="flex-1">
				@input.Input(input.Props{
					Class:       "flex",
					Type:        input.TypeText,
					Name:        "address",
					Placeholder: "Enter wallet address",
					Value:       address,
					Required:    true,
					HasError:    showError,
				})
				if showError {
					@form.Message(form.MessageProps{
						Class:      "flex",
						Attributes: templ.Attributes{"hx-on:htmx:responseError": "open = !open"},
						Variant:    form.MessageVariantError,
					}) {
						Invalid wallet address. Please check and try again.
					}
				}
			</div>
			@button.Button(button.Props{
				Type:  button.TypeSubmit,
				Class: "flex items-center gap-2",
			}) {
				<span id="spinner" class="htmx-indicator hidden [&.htmx-request]:inline-flex">
					@spinner.Spinner(spinner.Props{
						Size:  spinner.SizeSm,
						Color: "text-primary-foreground",
					})
				</span>
				Scan
			}
		}
	</form>
}
